<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            transform: translate(-50%, -50%); 
            background-color: #77dd77;
        }
    </style>
</head>
<body>
    <table class="cancelform">
        <tr><th colspan="2">Cancellation Reason</th></tr>
        <tr>
            <td colspan="2"><input type="text" name="cancellation_reason" required></td>
            <td><input type="hidden" id="cancel_booking_id" name="booking_id"></td>
            <td><input type="hidden" id="cancel_homeownerid" name="homeownerid"></td>
            <td><input type="hidden" id="cancel_serviceproviderid" name="serviceproviderid"></td>
        </tr>
        <tr><td><input type="submit" value="Submit" name="submit"></td><td><input type="button" value="Cancel" onclick="closecancelform()"></td></tr>
    </table>

    <label for="cancellationReason{{ booking.booking_id }}">Cancellation Reason</label>
                <input type="text" name="cancellation_reason" required>
                <input type="hidden" id="cancel_booking_id" name="booking_id">
                <input type="hidden" id="cancel_homeownerid" name="homeownerid">
                <input type="hidden" id="cancel_serviceproviderid" name="serviceproviderid">
                <input type="submit" value="Submit" name="submit">
                <input type="button" value="Cancel" onclick="closecancelform()">
                
</body>
</html>

def initiate_payment(request):
    if request.method == 'POST':
        client = razorpay.Client(auth=(settings.RAZOR_PAY_KEY_ID, settings.RAZOR_PAY_SECRET))
        amount = request.POST.get('totalamountinput')
        user_id = request.POST.get('totalamountinput')
        order = client.order.create(dict(amount=amount, currency="INR", payment_capture='0'))
        user = User.objects.get(user_id = user_id)
        context = {
            'razorpay_key': settings.RAZOR_PAY_KEY_ID,
            'amount': amount,
            'business_name': 'Household management system',
            'order_id': order['id'],
            'callback_url': 'https://your-django-site.com/payment/callback/',
            'user': user,
        }
        return render(request, 'home.html', context)

    return render(request, 'home.html')